body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: teal;
}

body.step-0 {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: teal;
}

body.step-1 {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
}
body.step-2 {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#Calculator{
    background-color: hsl(0, 0%, 10%);
    max-width: 500px;
    border-radius: 25px;
    overflow: hidden;
    border: none;
    margin-top: 20px;
}
#Calculator.step-0 {
    background-color: hsl(0, 0%, 10%);
    max-width: 500px;
    border-radius: 25px;
    overflow: hidden;
    border: none;
    margin-top: 20px;
}

#Calculator.step-1 {
    background-color: white;    
    max-width: 500px;
    border-radius: 25px;
    overflow: hidden;
    border: none;
    margin-top: 20px;
}
#Calculator.step-2 {
    background-color: hsl(0, 0%, 10%);
    max-width: 500px;
    border-radius: 25px;
    overflow: hidden;
    border: none;
    margin-top: 20px;
}
#Display{
    background-color: hsl(0, 0%, 20%);
    width: 100%;
    padding: 20px;
    font-family: Arial, sans-serif;
    font-size: 4rem;
    border: none;
    color: aliceblue;
    overflow-x: auto;
    white-space: nowrap;
}

#Display.step-0 {
    background-color: hsl(0, 0%, 20%);
    width: 100%;
    padding: 20px;
    font-family: Arial, sans-serif;
    font-size: 4rem;
    border: none;
    color: aliceblue;
    overflow-x: auto;
    white-space: nowrap;
}

#Display.step-1 {
    background-color: #e0e0e0; 
    width: 100%;
    padding: 20px;
    font-family: Arial, sans-serif;
    font-size: 4rem;
    border: none;
    overflow-x: auto;
    white-space: nowrap;
    color: black;
}
#Display.step-2 {
    background-color: hsl(0, 0%, 20%);
    width: 100%;
    padding: 20px;
    font-family: Arial, sans-serif;
    font-size: 4rem;
    border: none;
    color: aliceblue;
    overflow-x: auto;
    white-space: nowrap;
}
#Keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 20px;
}
button{
    width: 80px;
    height: 80px;
    border-radius: 50px;
    border: none;
    background-color: hsl(0, 0%, 30%);
    font-size: 3rem;
    font-weight: bold;
    font-family: Arial, sans-serif;
    color: white;
    cursor: pointer;
}
button:hover {
    background-color: hsl(0, 0%, 40%);
}

button:active {
    background-color: hsl(0, 0%, 60%);
}
button.step-0 {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    border: none;
    background-color: hsl(0, 0%, 30%);
    font-size: 3rem;
    font-weight: bold;
    font-family: Arial, sans-serif;
    color: white;
    cursor: pointer;
}

button.step-0:hover {
    background-color: hsl(0, 0%, 40%);
}

button.step-0:active {
    background-color: hsl(0, 0%, 60%);
}

button.step-1 {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    border: none;
    background-color: hsl(0, 0%, 70%);
    font-size: 3rem;
    font-weight: bold;
    font-family: Arial, sans-serif;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

button.step-1:hover {
    background-color: hsl(0, 0%, 85%);
}

button.step-1:active {
    background-color: hsl(0, 0%, 95%);
}
button.step-2 {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    border: none;
    background-color: hsl(0, 0%, 30%);
    font-size: 3rem;
    font-weight: bold;
    font-family: Arial, sans-serif;
    color: white;
    cursor: pointer;
}
button.step-2:hover {
    background-color: hsl(0, 0%, 40%);
}

button.step-2:active {
    background-color: hsl(0, 0%, 60%);
}
button.Opr{
    background-color: hsl(35, 100%, 55%);
    color: white;
}

button.Opr:hover {
    background-color: hsl(35, 100%, 65%);
}

button.Opr:active {
    background-color: hsl(35, 100%, 75%);
}

button.Opr.step-0 {
    background-color: hsl(35, 100%, 55%);
    color: white;
}

button.Opr.step-0:hover {
    background-color: hsl(35, 100%, 65%);
}

button.Opr.step-0:active {
    background-color: hsl(35, 100%, 75%);
}

button.Opr.step-1 {
    background-color: hsl(35, 100%, 55%);
    color: white;
}

button.Opr.step-1:hover {
    background-color: hsl(35, 100%, 61%);
}

button.Opr.step-1:active {
    background-color: hsl(35, 100%, 76%);
}
button.Opr.step-2 {
    background-color: hsl(35, 100%, 55%);
    color: white;
}

button.Opr.step-2:hover {
    background-color: hsl(35, 100%, 61%);
}

button.Opr.step-2:active {
    background-color: hsl(35, 100%, 76%);
}

.switch {
    position: relative;
    display: inline-block;
    width: 90px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .5s;
    border-radius: 34px;
    border: none;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .5s;
    border-radius: 50%;
    border: none;
}

/* Define additional states for the 3-step toggle */
.slider.step-0 {
    background-color: #ccc;
}

.slider.step-1 {
    background-color: #7c7c7c;
}

.slider.step-2 {
    background-color: hsl(0,0%,20%);
}

.slider.step-0:before {
    transform: translateX(0);
}

.slider.step-1:before {
    transform: translateX(29px); /* Adjust this value to fit the steps */
}

.slider.step-2:before {
    transform: translateX(56px); /* Adjust this value to fit the steps */
}
